
:root {
    --midpink: rgb(250,156,180);
    --darkpink: rgb(225,108,134);
    --lightpink: rgb(238,215,206);
    --satpink: rgb(228,109,136);
    --darkmagenta: rgb(126,27,52);
}

body {
    color: var(--darkmagenta);
    font-family: 'Spectral';
    cursor: url('images/cursor.png'), auto;
}

h1 {
    margin: 0px;
    margin-bottom:0px;
}
p {
    margin-top:0px;
    padding:0px;
    margin: 0px;
}

/* This is the outermost box that takes up the entire screen.*/
.outermost {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(99, 99, 99);
    background-size: cover;
    background-image: url("images/rosebg2.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* This is the second outermost box. */
.in {
    position: fixed;
    width:  900px;
    height: 800px;
    background-color: var(--darkmagenta);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--satpink);
}

/* Header for the entire website. */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 98%;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

/* Contains the two divs for the game. */
.game_box {
    display: flex;
    width: 90%;
    height: 100%;
    margin-top: -2%;
    margin-bottom: -6%;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    border-style: solid;
    border-radius: 10px;
}

.sub_game_box {
    background-color: var(--midpink);
    text-align: center;
    height: 100%;
    border-radius: 10px; 
    border-style: solid;
    border-color: var(--satpink);
    width: 50%;
}

.clothes_row {
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: left;
}

.icon {
    height: 159px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--satpink);
    background-color: var(--lightpink);
    z-index: 1;
    margin-right: 30px;
}

.icon:hover{
    transform:scale(1.2) rotate(3deg);
    z-index: 2;
}

/* BUTTONS */
/* background color */
.topnav {
    
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: -2px;
  }
  
  /* links */
  .topnav button {
    cursor: url('images/cursor.png'), auto;
    color: var(--darkmagenta);
    font-family: 'Spectral';
    background-color: var(--midpink);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    
    border-bottom: 3px;
    border-style: solid;
    border-color: var(--satpink);
  }
  
  /* change color when hovered over */
  .topnav button.toggled {
    border-bottom: 0px;
  }