:root {
    --teal: rgb(93, 235, 215);
    --purple: #8576FF;
    --lightblue: #7BC9FF;
    --darkblue: #1C1678;
    --midblue: rgb(10, 90, 131);
  }

@font-face {
    font-family: Morpheus;
    src: url(font/MORPHEUS.TTF);
}

@font-face {
  font-family: FrizQuadrataRegular;
  src: url(font/FrizQuadrataRegular.ttf);
}

  p {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 10px;
  }

  h1 {
    font-family: Morpheus;
    padding: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px;
    font-size: 40px;
    border: solid var(--midblue) 7px;  
  }

  h2 {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 15px;
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    position: sticky;
    }

  #home_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 920px;
    padding: 15px;
    padding-bottom: 20px;
    margin: 5px;
    align-items: center;

    background-color: var(--lightblue);
    border: double var(--midblue) 15px;  
  }

  .bigger_box {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 920px;
    padding: 15px;
    padding-bottom: 20px;
    margin: 5px;
    align-items: center;

    background-color: var(--lightblue);
    border: double var(--midblue) 15px;      
  }

  .sub_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 950px;
      padding: 10px;
      margin: 5px;
      align-items: center;
      background-color: white;
  }

img {
  transition: transform .2s;
  padding: 10px;
  margin: 10px;
  border: solid var(--midblue) 7px;
}

img:hover{
    transform:scale(1.3);
}

body {
    font-family: FritzQuadrataRegular;
    background-image: url("image/WoWScrnShot_041724_033514.jpg");
}

/* background color */
.topnav {
  width: 900px;
  display: flex;
  background-color: var(--darkblue);
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* links */
.topnav button {
  font-family: Morpheus;
  color: var(--lightblue);
  background-color: var(--darkblue);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  border: none;
}

/* change color when hovered over */
.topnav button:hover {
  background-color: whitesmoke;
  color: black;
}